.input[b-yrj9r3tibz]{
    display: block;
    margin: 40px;
    border-radius: 30px
}
.inputBox[b-yrj9r3tibz]{
    display: block;
    margin: 40px;
    border-radius: 15px
}
.textInput[b-yrj9r3tibz]{
    display: block;
    margin: 40px
}